.table-row{
    display: flex;
    width: 100%;
    padding: 3px 0;
    border-bottom: solid 1px rgba(180, 177, 177, 0.753);
}

.row-cell{
    display: flex;
    width: 20%;
    float: left;
    align-items: stretch;
    justify-content: center;
    align-items: center;
}
.table-row-main{
    border-bottom:solid 1px rgb(116, 114, 114);
}
.btn{
    width: 100px;
    text-align: unset;
    display: inline-block;
}
.row-cell.action-box{
    display: inline-block;
}

#sum-input{
    display: inline-block;
    width: 100px;
    height: 38px;
}

#select1{
    display: inline-block;

}

.py-4{
    padding: 0;
    margin: unset;
}

.padding-vertical{
    padding: 10px 0;
}

.change-input{
    width: 40%;
    display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.selector{
    width: 40%;
    display: inline-block;
}

.change{
    margin: 4px 0;
    width: 175px;
    text-align: center;
}

.upload-box{
    border: solid 1px black;
    border-radius: 5px;
    padding: 4px;
}